<div class="text-center pagination-centered">

    <nav class="navbar navbar-default">
    	<div class="container-fluid">
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle collapsed">
    	      	</button>
                <!--just reload the page-->
    	      	<a class="navbar-brand" href="" ng-click="reloadRoute()">Course Enrollment System</a>
        	</div>
        	<ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="button" class="navbar-toggle collapsed">
                        
                    </button>
                    <a href="" ng-click="goToProfile()">Profile</a>
                </li>
        		<li>
        			<button type="button" class="navbar-toggle collapsed">
    		      	</button>
    		      	<a href="" ng-click="logout()">Logout</a>
        		</li>
          	</ul>
        </div>
    </nav>
</div>

<div class="text-center pagination-centered">
    <form name="searchForm">
        <p>Search By Course Name:</p>
        <input ng-model="queryTerm" required/>
        <!-- <p>Filter By:</p> 
        <select ng-model="queryBy" required>
            <option value="">None</option>
            <option value="courseNumber">Course Number (eg: 101 or 344)</option>
            <option value="courseName">Course Name (eg: Web Engineering or Calculus)</option>
        </select> -->
        <button ng-click="searchForm.$valid && submitSearch()" class="btn btn-primary">Submit</button>
    </form>
</div>

<table class="table table-striped table-responsive results-table">
    <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Description</th>
        <th>Credits</th>
        <th>Required GPA</th>
    </tr>
    <div ng-show="searchSubmitted">
        <tr ng-repeat="result in searchResults">
            <td>{{result.CourseID}}</td>
            <td>{{result.Name}}</td>
            <td>{{result.Description}}
            <td>{{result.Credits}}</td>
            <td>{{result.GPAReq}}</td>
        </tr>
    </div>
</table>




