<div class="text-center pagination-centered">

    <nav class="navbar navbar-default">
    	<div class="container-fluid">
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle collapsed">
    	      	</button>
                <!--just reload the page-->
    	      	<a class="navbar-brand" href="" ng-click="reloadRoute()">Course Enrollment System</a>
        	</div>
        	<ul class="nav navbar-nav navbar-right">
                <li ng-show="{{admin}}">
                    <button type="button" class="navbar-toggle collapsed">
                    </button>
                    <a href="" ng-click="goToCreateCoursePage()">Create Course</a>
                </li>
                <li>
                    <button type="button" class="navbar-toggle collapsed">
                    </button>
                    <a href="" ng-click="goToProfile()">Profile</a>
                </li>
        		<li>
        			<button type="button" class="navbar-toggle collapsed">
    		      	</button>
    		      	<a href="" ng-click="logout()">Logout</a>
        		</li>
          	</ul>
        </div>
    </nav>

	<div id="searchHead" class="form-inline">
		<h1>Class Search<br></h1>
	</div>

	<form id="searchForm" class="form-inline">
		<div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
			<input id="searchBox" class="searchForm" ng-model="queryTerm" style="
				width: 100%;
				height: 30px;
				padding: 5px 10px;
				display: inline-block;"
				   placeholder="Enter course name, course number, or course code" required />
		</div>
		<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
			<select id="term" style="width: 100%; height: 30px;
    padding: 0px;
    min-width: 200px;">
				<option value="0">Fall 2016</option>
				<option value="1">Spring 2017</option>
				<option value="2">Summer 2017</option>
				<option value="3">Fall 2017</option>
			</select>
		</div>

		<br /><br />

		<div>
			<button id="btnSearch" class="searchBtn" type="submit" ng-click="submitSearch()" value="Search" style="height: 30px;
    width: 100px;">Search</button>
		</div>
		<br>
	</form>

	<div id="advancedBtn">
		<span id="advSearch" class="glyphicon glyphicon-chevron-right"><strong>Advanced Search</strong></span>
		<div id="advancedFields">
			<div class="row">
				<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
					<label class="advancedLabel" style="
						width: 100%;
						height: 30px;
						padding: 5px 10px;
						display: inline-block;">
						   College:
				   </label>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
					<select class="advancedDropdown" style="width: 100%; height: 30px;
			padding: 0px;
			min-width: 200px;">
						<option value="0">Fall 2016</option>
						<option value="1">Spring 2017</option>
						<option value="2">Summer 2017</option>
						<option value="3">Fall 2017</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
					<label class="advancedLabel" style="
						width: 100%;
						height: 30px;
						padding: 5px 10px;
						display: inline-block;">
						Course Subject:
					</label>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
					<select class="advancedDropdown" style="width: 100%; height: 30px;
			padding: 0px;
			min-width: 200px;">
						<option value="0">Fall 2016</option>
						<option value="1">Spring 2017</option>
						<option value="2">Summer 2017</option>
						<option value="3">Fall 2017</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
					<label class="advancedLabel" style="
						width: 100%;
						height: 30px;
						padding: 5px 10px;
						display: inline-block;">
						Instructor:
					</label>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
					<select class="advancedDropdown" style="width: 100%; height: 30px;
			padding: 0px;
			min-width: 200px;">
						<option value="0">Fall 2016</option>
						<option value="1">Spring 2017</option>
						<option value="2">Summer 2017</option>
						<option value="3">Fall 2017</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
					<label class="advancedLabel" style="
						width: 100%;
						height: 30px;
						padding: 5px 10px;
						display: inline-block;">
						Credits:
					</label>
				</div>
				<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
					<select class="advancedDropdown" style="width: 100%; height: 30px;
			padding: 0px;
			min-width: 200px;">
						<option value="0">Fall 2016</option>
						<option value="1">Spring 2017</option>
						<option value="2">Summer 2017</option>
						<option value="3">Fall 2017</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
    $(document).ready(function(){
        var advancedHidden = true;
        $("#advancedFields").slideUp();
        $("#advSearch").click(function(){
            if (!advancedHidden) {
                $("#advancedFields").slideUp();
                advancedHidden = true;
                $("#advSearch").removeClass("glyphicon-chevron-down");
                $("#advSearch").addClass("glyphicon-chevron-right");
            } else {
                $("#advancedFields").slideDown();
                advancedHidden = false;
                $("#advSearch").removeClass("glyphicon-chevron-right");
                $("#advSearch").addClass("glyphicon-chevron-down");
            }
        });
    });
</script>

<table class="table table-striped table-responsive results-table table-bordered">
    <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Credits</th>
        <th>Required GPA</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    <div ng-show="searchSubmitted">
        <tr ng-repeat="class_result in classResults">
            <div ng-repeat="c_result in courseResults">
                <td>{{c_result.Name}}<input id="enrollmentCheckbox" type="checkbox"/></td>
                <td>{{c_result.Description}}</td>
                <td>{{c_result.Credits}}</td>
                <td>{{c_result.GPAReq}}</td>
                <td>{{class_result.StartTime}}</td>
                <td>{{class_result.EndTime}}</td>
            </div>
        </tr>
    </div>
</table>
<div ng-show="searchResults.length !== 0">
    <button ng-click="enrollCourse()" class="btn btn-primary">Enroll</button>
</div>
